
/*旋转木马的必要样式*/
.poster-main {position: relative; width: 800px; height: 270px;}
.poster-main a, .poster-main img {display: block;}
.poster-main .poster-list {list-style: none; width: 800px; height: 270px;}
.poster-main .poster-list .poster-item {position: absolute; top: 0; left: 0;}
.poster-main .poster-btn {position: absolute; top: 0; width: 100px; height: 270px; z-index: 10; cursor: pointer;}
.poster-main .poster-prev-btn {left: 0; background-color: red; background: red url(./images/btn_l.png) center no-repeat;}
.poster-main .poster-next-btn {right: 0; background-color: red; background: red url(./images/btn_r.png) center no-repeat;}
